# Подключение к базе данных и выгрузка таблицы в csv-формате

Создадим коннекцию к базе данных:

In [1]:
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

Сформируем SQL-запрос:

In [2]:
query = ''' SELECT *
FROM dash_visits
'''

Прочитаем таблицу из sql-формата:

In [3]:
df = pd.io.sql.read_sql(query, con = engine) 
df.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

Переформатируем файл в csv для дальнейшей работы в Tableau и экспортируем в нужную нам папку.

In [4]:
df = df.to_csv (r'C:\Users\vikto\Desktop\csv\dash_visits.csv', index = False)

Прочитаем файл в csv-формате:

In [5]:
dash_visits = pd.read_csv('dash_visits.csv')

Проверим данные:

In [6]:
def df_info(df):    
    df.info()
    display(df.head())
    print('Количество дубликатов:', df.duplicated().sum())
    display('Количество пропусков', df.isna().sum())

In [7]:
df_info(dash_visits)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  object
 5   visits        30745 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.4+ MB

   record_id item_topic source_topic age_segment                   dt  visits
0    1040597     Деньги         Авто       18-25  2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25  2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25  2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25  2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25  2019-09-24 18:56:00      27

Количество дубликатов: 0

'Количество пропусков'

record_id       0
item_topic      0
source_topic    0
age_segment     0
dt              0
visits          0
dtype: int64

Вцелом, всё нормально, переведем только дату в правильный формат:

In [8]:
dash_visits['dt'] = pd.to_datetime(dash_visits['dt'])

Можем продолжить работу в Tableau.